@media screen and (max-height:488px) and (min-height: 345px){
    img.intro-img-fg {
        max-height: 90%;
    }
    .intro{
        margin-top: 20%!important;
    }
}

@media screen and (max-height:344px){
    img.intro-img-fg {
        max-height: 80vh;
    }
}




@media(max-width:767px) {
    .portfolio-link {
        float: none;
        min-width: 100%;
    }

    #map {
        height: 400px;
        margin-top: 250px;
        max-width: 100vh;
    }

    section {
        margin-left: 0!important;
        margin-right: 0!important;
    }
    .intro-img-fg {
        max-width: 100%!important;
        height: auto;
    }
    .intro {
        min-height: 100vh!important;
    }
    .row {
        margin-left: 0!important;
        margin-right: 0!important;
    }
    #map {
        margin-left: 0!important;
        margin-right: 0!important;
        min-width: 100%;
    }
    .navbar-brand {
        font-size: 0.98em;
    }
    #wrap {
        max-width: 100%;
    }
}

@media(min-width:768px) and (max-width:1500px) {
    #wrap {
        max-width: 80%;
    }
    .navbar {
        margin-left: 80%;
    }



    .portfolio-list {
        min-width: 100%!important;
    }
}

@media screen and (min-width:1373px){

    .intro {
        background-size: 120%;
        background-repeat: repeat-y;
    }
}

@media screen and (min-width:769px) and (max-width:1372px) {

    .intro {
        background-size: 125%;
        background-repeat: repeat-y;
    }
}

@media screen and (max-width:768px){

    .intro {
        background-size: 120%;
        background-repeat: repeat-y;
    }
}


@media(min-width:1501px) {
    #wrap {
        max-width: 88%;
    }
    .navbar {
        margin-left: 88%;
    }
/*
    .container {
        width: 90%!important;
    }
*/
    .portfolio-list {
        min-width: 100%!important;
    }
}

@media screen and (min-width:685px)and (max-width:1232px) and (min-height: 837px) {
    img.intro-img-fg {
        max-width: 100%!important;
        height: 40%;
    }
}

@media screen and (min-width:1233px) and (max-width:1600px) and (min-height: 837px)  {
    img.intro-img-fg {
        max-width: 100%!important;
        height: 50%;
    }
}

@media screen and (min-width:1601px) and (max-width:1884px) and (min-height: 837px) {
    img.intro-img-fg {
        max-width: 100%!important;
        height: 60%;
    }
}

@media screen and (min-width:1885px) and (max-width:2300px) and (min-height: 837px)  {
    img.intro-img-fg {
        max-width: 100%!important;
        height:70%;
    }
}


@media screen and (min-width:2301px) and (max-width:2692px) and (min-height: 837px)  {
    img.intro-img-fg {
        max-width: 100%!important;
        height:70%;
    }
}

